<!DOCTYPE html>
<html ng-app="proof">
<head>
  <link rel="stylesheet" type="text/css" href="./styles.css"/>
  <link rel="stylesheet" type="text/css" href="./quizStyles.css">
  <style>
  </style>
  <title>Interactive Elemens</title>
</head>

<body>

  <ui-view></ui-view>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../jsxgraphcore.js"></script>
  <script src="js/proof.js"></script>
  <script src="js/homeCtrl.js"></script>  
  <script src="js/proofSrvc.js"></script>
  <script src="js/proofCtrl.js"></script>
  <script src="js/quizCtrl.js"></script>
  <script src="js/quizSrvc.js"></script>
</body>
</html>
