
  <div id="main" style="height: 98vh; overflow:hidden; width:98vw">
    <div id="text-box" ng-app="proof" ng-controller="proofCtrl">
      <geo-menu></geo-menu>
      <h3> {{ proof.statement }} </h3>
      <p ng-repeat="step in proof.steps track by $index" ng-click="animate_frame($index)" ng-style="$index==currentStep?{'background-color':'yellow'}:{}">
	{{ step.text }} <a href="{{ '/#!/proof/' + step.link[1] + '/' + step.link[2] }}">
      {{step.link[0]}}</a></p>
      <p> {{ proof.conclusion }} </p>
      <button ng-click="retreat()">Back one step</button>
      <button ng-click="advance()">Forward one step</button>
    </div>
    <div id="the-box" class="jxgbox"></div>
  </div>


