<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="./styles.css"/>
  <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
  <style>
  </style>
</head>
<body ng-app="proof">
  <div ng-controller="proofCtrl" id="main" style="height: 98vh; overflow:hidden; width:98vw">
    <div id="text-box">
      <h3> {{ proof.statement }} </h3>
      <p ng-repeat="step in proof.steps"> {{ step.text }} </p>
      <p> {{ proof.conclusion }} </p>
    </div>
    <div id="the-box"
	 class="jxgbox"
	 jxg-board="{axis: false, grid:false, showCopyright:false, showNavigation:false, boundingbox: [0,10,10,0]}"
	 jxg-callback="jxgCallback"></div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script type="text/javascript" src="../jsxgraphcore.js"></script>
  <script src="angular-jsx-graph.js"></script>
  <script src="js/proof.js"></script>
  <script src="js/proofCtrl.js"></script>
  <script src="js/proofSrvc.js"></script>
</body>
